

/* ブログタイトル */
.header-image-only #blog-title #blog-title-inner {
   height: 120px !important;
   background-image: url("http://static.security-design.jp/img/site/logotitle2.svg") !important;
}


/* メニュー */
#gnav {
   margin-bottom: 35px !important;
}


#gnav .menu a {
   font-size: 15px !important;
}

/* パンくずリスト */
#top-box .breadcrumb {
   border: 0 !important;
   padding: 0 !important;
}
.breadcrumb-inner {
   margin-left: 2% !important;
}

/* 記事一覧サムネイル */
.page-archive .entry-thumb {
   border: 1px solid #dddddd;
}

/* モジュールタイトルアイコン */
.hatena-module-title:before {
   font-family: FontAwesome;
   content: "\f0c8";
}

/* バナー */
.module_banner {
    border: 5px solid #000000;
}

/* アイコンページ*/
.contents_center {
   text-align: center;
}
.static-page-security-icons #main {
  width: inherit;
}

.icon-list {
  float: left;
  padding-right: 2px;
  text-align: center;
}

dl.icon-list {
  width: 160px;
  height: 220px;
}

.icon-list dd {
  float: left;
  clear: left;
  margin: 0;
}
div#icon-end {
  float: none;
  clear: both;
}

/* 写真素材ページ*/
.static-page-photos #main {
  width: inherit;
}
