/* Creative portfolio */

.sidebar-heading h1 {
  text-decoration: none !important;
}
.sidebar-heading img {
  object-fit: contain;
}

.box-masonry h4 {
  text-align: center;
  text-decoration: none;
}

.btn {
  margin-bottom: 25px;
}

.sidebar-heading a:hover {
  border-bottom: none;
}

.blog_list {
  font-size: x-large;
}

.icon_centering {
  text-align: center !important;
}

.icon-list {
  float: left;
  padding-right: 2px;
  text-align: center;
}

.icon-list dt{
  width: 100px;
  height: 150px;
}

.icon-list dd {
  float: left;
  clear: left;

}

li p {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 2px;
}

.box-masonry .box-masonry-image {
  background: #f4f4f4;
}

#sns {
    display: inline-block;
    float: none;
    margin: 0 auto;
    padding: 0;
}
#sns ul {
  padding: 20px;
}
#sns li {
    float: left;
    width: 70px;
    height: 25px;
    margin: 5px 5px 5px 0px;
    padding: 2px 0 0 0;
    list-style-type: none;
    text-align: center;
    border-radius: 0;
}
#sns li a {
    display: block;
    font-size: 12px;
    line-height: 2;
    color:#fff;
}

#sns .facebook { border-bottom: 0 solid #2d4373; background: #315096; }
#sns .hatena { border-bottom: 0 solid #117ec7; background: #008fde; }
#sns .twitter { border-bottom: 0 solid #2795e9; background: #55acee; }
#sns .line { border-bottom: 0 solid #219900; background: #00c300; }
#sns .feedly { border-bottom: 0 solid #54803a; background: #75ad43; }
#sns .rss { border-bottom: 0 solid #da7a04; background: #ff8c00; }
#sns .google { border-bottom: 0 solid #8d2d1d; background: #dd4b39; }
#sns .pocket { border-bottom: 0 solid #e6152f; background: #ee4056; }
.clearfix:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: '.';
}
.clearfix { zoom: 1; }
